{% extends "_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block page_title %}Login{% endblock page_title %}

{% block content %}
    <div class="d-flex justify-content-center mt-5">
        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-xs-6 bg-white m-3 m-sm-5 border rounded px-4 pt-4 pb-3 shadow">
            <form method="post">
                {% csrf_token %}
                <h1 class="text-center">{% translate "Login" %}</h1>
                {{form|crispy}}
                <div class="d-flex justify-content-between align-items-center">
                    {% comment %} <div class="mt-2">
                        <a class="text-decoration-none" href="{% url "account_reset_password" %}">{% translate "forgot password" %}</a>
                    </div> {% endcomment %}
                </div>
                 <button type="submit" class="btn btn-success mt-3 w-100">{% translate "Login" %}</button>
                <div class="line-with-middle-sep">
                </div>
                <a href="{% url "account_signup" %}" class="btn btn-primary mt-2 mb-3 w-100">{% translate "SignUp" %}</a>
            </form>
        </div>
    </div>

{% endblock content %}