{% extends "_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block page_title %}{{book.title}}{% endblock page_title %}

{% block content %}
    <div class="alert alert-success" role="alert">
        {%if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
<div class="container mt-5">
    <div class="">
        <div class="">
            <div class="d-flex justify-content-center">
                <div class="row w-sm-75 w-100">
                    <div class="col-xs-12 col-md-3 d-flex justify-content-center">
                        <div>
                            <img src="{{book.image.url}}"
                                class="img-fluid rounded-start" alt="...">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 text-center text-md-end mt-md-1 mt-4">
                        <h1>{{book.title}}<h1>
                        <h5 class="small my-1"><span class="text-muted">{% translate "author" %}: </span>{{book.author}}</h5>
                    </div>
                    <div class="col-xs-12 col-md-3 d-flex flex-column">
                        <h3 class="align-self-center pt-2 text-muted align-self-md-end">
                            {% translate "$" %}{{book.price}}
                        </h3>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <div class="my-3 p-5 w-sm-75 w-100">
                    {{book.description}}
                </div>
            </div>
            <form method="POST" action="{% url "cart_add" book.id %}">
                {% csrf_token %}
                <div class="quantity">
                </div>
                 <div class="d-flex justify-content-center">
                    {% comment %} {{add_to_cart_form|crispy}} {% endcomment %}
                     <input type="number" name="quantity" value="1" min="1" max="30">
                     <button type="submit" class="btn btn-primary">{% translate "Add to Cart" %}</button>
                </div>
            </form>
            <a class="btn btn-warning" href="{% url "book_update" book.id %}">Edit</a>
            <a class="btn btn-danger" href="{% url "book_delete" book.id %}">Delete</a>

            {% for comment in comments %}
                <div class="d-flex justify-content-center">
                    <div class="card shadow my-3 p-5 w-sm-75 w-100">
                        <h2 class="mb-5">{% translate "comments" %}:</h2>
                        <div class="border-bottom mb-3">
                            <h5 class="mb-3">{{comment.user}}</h5>
                            <p>{{comment.text}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="d-flex justify-content-center">
                <div class="card shadow my-3 p-5 w-sm-75 w-100">
                    <h3>{% translate "Enter Your Comment" %}:</h3>
                    <form method="POST" action={%url "comment_create" book.id%}>
                        {% csrf_token %}
                        {{comments_form|crispy}}
                        <button type="submit" class="btn btn-primary">{% translate "Send" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}